<div th:fragment="header">
    <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <title>Micana</title>
                    <span class="fs-4">Micanas blog</span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Про разработчика</a>

                </nav>
            </div>

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Пример текста</h1>
                <p class="fs-5 text-muted"> Пример текста</p>
            </div>
        </header>

</div>